 <div class="container">

 
 <div class="left_panel">
                <ul class="user_links">
                    <li><a href=""><i class="bi bi-music-note"></i><h4>My Playlist</h4></a></li>
                    <li><a href=""><i class="bi bi-heart"></i><h4>Liked Songs</h4></a></li>
                    <li><a href=""><i class="bi bi-earbuds"></i><h4>Liked Artist</h4></a></li>
                    <li><a href=""><i class="bi bi-clock-history"></i><h4>History</h4></a></li>
                    <li><a href=""><i class="bi bi-gear"></i><h4>Settings</h4></a></li>
                    <li><a href=""><i class="bi bi-power"></i><h4>Log out</h4></a></li>
                </ul>
                 </div>
                 </div>