<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <section class="head">
            
       
            <ul id="navbar"> 
                <div id="navleft" style="display: flex;position: absolute; left: 2px;">
                    <a href="#"><img id="logo" src="#" alt="" class="logo"></a>
                    <li><a href="#">Music</a></li>
                    <li><a href="#">My Playlist</a></li>
                </div>
                
                <div class="sbar">
                    <input type="search" placeholder="Search" aria-label="Search">
                    <li><button>Search</button></li>
                </div>
                
                <div id="navright" style="display: flex;position: absolute; right: 2px;">
                    <li><a href="#">Login</a></li>
                <li><a href="#">Sign Up</a></li>
                </div>
            </ul>
        
        </section>
        <section class="container"></section>
        <section class="left_side"></section>
        <section class="music_player">
            <i class="bi bi-skip-start-fill"></i>
            <i class="bi bi-play-fill"></i>
            <i class="bi bi-skip-end-fill"></i>
        </section>
    </div>
    
</body>
</html>