@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: #f2f2f2;
}

.main{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.main .head{
    height: 8vh;
    width: 100%;
    border: 2px solid white;
}
/* .main .left_side{
    height: 84vh;
    width: 75%;
    border: 2px solid white;
} */

.head{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #f7f7f7;
    box-shadow: 0 5px 15px rgb(0,0,0,0.6);
    position: sticky ;
    /* top: 0;
    left: 0; */ 
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 15px;
}

#navbar li a{
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600; 
    color: #000000;
    transition:  0.3s ease;
}

#navbar li a:hover{
    
    color: #21a521;
    transition: transform 0.25s ease-out ;
}
#navbar li a:hover::after{
    content: "";
    width: 100%;
    height: 2px;
    bottom: -4px;
    position: absolute;
    left: 0px;
    background: #21a521;
    animation: underlineit 0.3s ease-in-out ;
    
}

#navbar .sbar{
    display: flex ;
    z-index: 2;
}
#navbar .sbar input{
    font-size: 1rem;
    font-weight:600;
    width: 335px;
    height: 32px;
    padding: 0px 8px;
    /* top rigth bottom left */
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 20px rgba(0,0,0,0.2);
    transition: 0.2s ease-in-out;
}
#navbar .sbar input:focus{
    outline: none;
    width:min(700px, 50vw);
    position: relative;
}
#navbar .sbar ::placeholder{
    position: relative;
    color: #f77842;
    left: 43%;

}

@keyframes underlineit{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

/* default for all buttons  */
button {
    height: 32px;
    padding: 5px 14px;
    /* background-color: #20dbc2; */
    border: none;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #cdcdcd;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}
.main .head button:hover{
    background-color: #f77842;
}

/* container */

.main .container{
    display: flex;
    height: 84vh;
    width: 100%;
   
}


/* .main .container::-webkit-scrollbar{
    display: none;
} */

.container .left_panel{
    width: min(300px,25vw);
    height: 84vh;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    
}

.container .left_panel .user_links{
    margin: 40px 10px;
}

.container .left_panel .user_links li{
    list-style: none;
    margin: 20px 4px;
    padding: 20px 0px;
    position: relative;
    /* border: 1px solid #000000; */
    border-radius: 20px;
}

.container .left_panel .user_links li a{
    text-decoration: none;
}

.container .left_panel .user_links li a i{
    position: absolute;
    top: 10px;
    left: 8%;
    /* left: 10px; */
    font-size: 15px;
    transition: all 0.1s linear;
}
.container .left_panel .user_links li a h4{
    position: absolute;
    left: 20%;
    top: 10px;
    font-size: 20px;
   
    transition: all 0.1s linear;
}


.container .left_panel .user_links li:hover i{
    font-size: 18px;
    color:#e81224;
}
.container .left_panel .user_links li:hover{
    background-color: #dddddd;
}



.container .top{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30%;
    border-bottom:1px solid #cdcdcd ;
    /* box-shadow: 2px 2px 10px rgba(0,0,0,0.2); */
}
.container .top img{
    height: 85%;
    margin: 0 2%;
    top: 4%;
    border-radius: 50%;
    border: 3px solid #c9c7c6;
}


.container .content{
    width: max(100vw - 300px,75vw);
    height: 70%;
    /* box-shadow: 2px 2px 10px rgba(0,0,0,0.2); */
    overflow: auto;  
}

.container .content::-webkit-scrollbar{
    display: none;
}

.main .container .content .content_head{
    /* border:1px solid #992525; */
    height: 40px;
    width: 96%;
    padding: 10px 20px;
    position: sticky;
    top: 0px;
    margin-left:30px ;
    z-index: 3;
    background-color: #f2f2f2;
    
}

.main .container .content li{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4px 2px;
    flex: 2 0 auto;
    /* padding: 8px 4px; */
}

.main .container .content li h4,
.main .container .content li h5{
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.main .container .content li img{
    height: 40px;
    width: 40px;
    border-radius: 4px;
    position: relative;
    
}


/*Artist*/


.main .container .content .list .artists{
    display: flex;
    align-items: center;
    justify-content:space-between;
    overflow-x: auto;
    margin:auto;
    width: 94%;
    height: 145px;
    /* border: 1px solid #000000; */
}

.main .container .content .list .artists::-webkit-scrollbar{
    display: none;
}

.main .container .content .list .artists li{
    position: relative;
    height: 100%;
    width: 120px;
    list-style-type: none;
    /* border: 1px solid #03c7c0; */
}


.main .container .content .list .artists li .image_play{
    /* border: 1px solid #a54021; */
    width: 120px;
    height: 110px;
}

.main .container .content .list .artists li img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.main .container .content .list .artists li .play_artist{
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: all 0.3s linear;
}

.main .container .content .list .artists li:hover .play_artist{
    opacity:0.9;
}

.main .container .content .list .artists li h4{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:unset;
    text-overflow:unset;
    white-space:unset;
}

/* queue */

.main .queue{
    z-index: 0;
    background-color:#f7f7f7;
    position: absolute;
    overflow: auto;
    height: 40px;
    width: 60px;
    left: 48%;
    border: 2px solid #03c7c0;
    border-radius: 8px;
    bottom: 0px;
    /* bottom:8vh; */
    /* left: 35%;
    width: 30%;
    height:70vh; */
    transition:all 0.4s linear;
}

.main .big{
    z-index: 4;
    bottom:calc(8vh + 5px);
    left: 35%;
    width: 30%;
    height:70vh;
}

.main .queue::-webkit-scrollbar{
    display: none;
}

.main .queue .queue_head{
    border-bottom:1px solid #cdcdcd;
    height: 40px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: #f7f7f7;
    
}

.main .queue .queue_head h3{
    position: absolute;
    top: 9px;
    left: 3%;
}

.main .queue .queue_head .queue_buttons{
    display: block;
    position: absolute;
    top: 7px;
    right: 2%;
}

/* change in queue buttons on hovering queue */

.main .queue .queue_head button{
    height: 25px;
    padding: 5px 12px;
    border: 1px solid #cdcdcd ;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.main .queue .queue_head .add{
    background-color: #55fff9;
}

.main .queue .queue_head .add:hover{
    background-color: #23f1ea;
}

.main .queue .queue_head .remove:hover{
    border: 1px solid #55fff9 ;   
}

.main .queue li{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4px 2px;
    
    /* padding: 8px 4px; */
}

/* .main .queue li:hover{
    background: rgba(230, 230, 230, 0.9);
} */

.main .queue li div{
    width:75%;
}

.main .queue li .image_play{
    width: 40px;
    height: 40px;
}

.main .queue li img{
    height: 40px;
    width: 40px;
    border-radius: 4px;
    position: relative;
}

.main .queue li .image_play .play_icon{
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: all 0.3s linear;
}

.main .queue li .image_play .play_icon:hover{
    opacity:0.9;
}

.main .queue li h4,
.main .queue li h5{
    width: 80%;
    font-size: 13px;
    padding: 1px 0px;
    margin: 0px 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* for showing dots */
    white-space: nowrap;
}

.main .queue li i{
    font-size: 20px;
}

/* music player */

.main .music_player{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    width: 100%;
    background-color: #f7f7f7;
    box-shadow: 0 -5px 15px rgb(0,0,0,0.6);
    position: sticky ;
}
 .music_player .progress_bar{
    position: absolute;
    height: 4px;
    width: calc(100% - 1px);
    background-color:#cdcdcd;
    border-radius: 5px;
    top: -4px;
    left: 0;
    /* margin: 0 2px; */
 }

 .music_player .progress_bar #played_length{
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 4px;
    cursor: pointer;
    opacity: 0;
 }

 .music_player .progress_bar #bar{
    position: absolute;
    height: 100%;
    width:0%;
    border-radius: 5px;
    background-color:#03c7c0;
    transition: all 1s linear;
 }

 /* .music_player .progress_bar #bar{
 } */

 .music_player .progress_bar #bar #point{
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #03c7c0;
    box-shadow: 1px 0 2px rgba(49, 199, 249, 0.6);
    top: -1px;
    right: -1px;
 }

.music_player .song_detail{
    display: flex;
    align-items: center;
    /* width: 30%; */
    min-width: 280px;
}

.music_player .song_detail img{
    width: 50px;
    height: 50px;
    border-radius: 2px;
    margin: 4px;
}

.music_player .song_detail #currentsong{
    width: 30%;
}

.music_player .song_detail h5{
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

 .music_player .icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    min-width:175px;
 }

 .music_player .icons .play{
    font-size: 30px;
 }

 .music_player .icons .bi{
    
 }

 .music_player .bi-repeat{
    
 }
 .music_player .bi-repeat-1{  
    display: none;
 }
 .music_player .bi-shuffle{
    display: none;
 }
 .music_player .bi-music-note-list{
    
 }
 .music_player .bi-heart{
    color: red;
}
.music_player .bi-hearts{
    color: #ed4956;
}
.music_player .bi-heart-fill{
    color: #cf2a3a;
    color: #e81224;
    /* color: red; */
}
/* .music_player .bi-music-note-list:hover ~ .queue{
    height: 50vh;
} */

 .music_player .music_time{
    font-weight: 600;
 }

.music_player .bi{
    font-size: 25px;
}
.music_player .bi-volume-mute-fill{
    display: none;
}
.music_player .bi-volume-up-fill{
    display: block;
}
.music_player .bi-volume-down-fill{
    display: none;
}