<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Already Exist</title>
</head>
<body>
    <h1 style="text-align: center;">Please try to login with your password</h1>
    <button style="margin-left:45%;color:#ffffff;background-color:black"><a href="/login" style="color: white;text-decoration:none;font-size:20px;padding:3px">Login Again</a></button>
</body>
</html>